[Desktop Entry]
Encoding=UTF-8
Name=freedroid
Comment=Clone of the C64 Game Paradroid
Comment[pl]=Klon gry Paranoid z C64
Exec=freedroid
Terminal=false
Icon=freedroid.png
Type=Application
# vi: encoding=utf-8
