[Desktop Entry]
Name=freedroid
Comment=Clone of the C64 Game Paradroid
Comment[pl]=Klon gry Paranoid z C64
Exec=freedroid
Terminal=false
Icon=freedroid
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
